body {
    background-color: #fecfff;
}

@font-face {
    font-family: 'Plantletters'; /*a name to be used later*/
    src: url('Plantsletters.ttf');
}


.websiteTitle {
    font-size: xx-large;
    color: #6fbd72;
    font-family: 'Plantletters';
}

.imageCol {
    object-fit: contain;
    max-width: 20vw;
    max-height: 20vh;
  }

  .autoResizeImage {
    max-height: 50%;
    max-width: 50%;
    display:block;
}

